@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Monoton&display=swap");

.header {
  font-family: "Monoton", sans-serif;
  background: #f08c00;
  padding: 1rem 0;
}

.header__title {
  font-size: 3.5rem;
  color: rgb(89, 41, 7);
  font-weight: normal;
  text-align: center;
}
